@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    outline: none;
    border: 2.5px solid black;
}

.navbar{
    font-family: 'Archivo Black', sans-serif;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 10px;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.main-div{
    width: 100vw;
    height: 100vh;
    background-image: url('images/bg1.jpg');
    /* background-color: #313131; */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-body{
    background-color: black;
    width: 300px;
    height: 520px;
    border-radius: 20px;
    /* border: 2px solid white; */
    box-shadow: 8px 11px 20px #313131;
    padding: 8px;
    padding-bottom: 0px;
    margin-bottom: 18px;
    box-sizing: content-box;
}

.calculator-screen{
    background-color: rgb(59, 59, 59);
    width: 100%;
    height: 150px;
    border-radius: 20px;
}

.upper-screen{
    width: 100%;
    height: 75px;
    padding-right: 10px;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
}

.lower-screen{
    padding-right: 10px;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: right;
    width: 100%;
    height: 75px;
}

.keyboard{
    width: 100%;
    height: 350px;
}

.key-row{
    width: 100%;
    height: 70px;
}
.keys{
    display: inline-grid;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 100%;
    margin-top: 5px;
    margin-left: 2px;
    border-radius: 40px;
    font-size: 20px;
    font-weight: bold;
}

#zero{
    width: 145px;
}

.grey-bg{
    background-color: #9f9f9f;
    color: black;
}

.grey-bg:hover{
    background-color: #cac8c8;
}

.yellow-bg{
    background-color: #f69906;
    color: white;
}

.yellow-bg:hover{
    background-color: #f6ae3c;
}

.black-bg{
    background-color: #313131;
    color: white;
}

.black-bg:hover{
    background-color: #646464;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 5px;
    text-align: center;
}

@media screen and (max-width:336px) {
    button{
        border: 1px solid black;
    }   
    .keys{
        width: 60px;
    }
    #zero{
        width: 125px;
    }
}

@media screen and (max-width:276px) {
    button{
        border: 1px solid black;
    }   
    .keys{
        height: 90%;
        width: 55px;
    }
    #zero{
        width: 115px;
    }
}